<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="raystudio.webviewsuper">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="raystudio.webviewsuper.ui.gridmenu.GridMenuActivity"
            android:exported="false" />
        <activity
            android:name="raystudio.webviewsuper.ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/label_menu_settings"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name="raystudio.webviewsuper.MainActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name="raystudio.webviewsuper.ui.demo.DemoActivity"
            android:exported="true" />

        <activity
            android:name="raystudio.webviewsuper.ui.splash.SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_id_dev" />
        <meta-data
            android:name="com.google.android.gms.ads.INTEGRATION_MANAGER"
            android:value="wv_nyoloWeb" />
    </application>

</manifest>